<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Plataforma Holística
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item lines="none" routerLink="/espacos/tabs/descobrir">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Descobrir Espaços</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/marcacoes">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Meus Agendamentos</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="exit" slot="start" ></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
